@import './_mixins.scss';

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #fff;
}

.heading-primary {
    font-weight: 600;
    font-size: 9rem;
    line-height: 10.8rem;

    @include respond(sm) {
        font-size: 6rem;
        line-height: 7.2rem;
    }
}

.heading-secondary {
    font-weight: 500;
    font-size: 5rem;
    line-height: 6rem;

    @include respond(sm) {
        font-size: 3rem;
        line-height: 3.6rem;
    }
}

.heading-tertiary {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.8rem;

    @include respond(sm) {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
}